heat_template_version: 2017-02-24

parameters:
  image:
    type: string
    default: {{image}}
  flavor:
    type: string
    default: {{flavor}}

resources:
  server:
    type: OS::Nova::Server
    properties:
      image: {get_param: image}
      flavor: {get_param: flavor}
      networks:
        - network: public
      user_data_format: SOFTWARE_CONFIG
      user_data: |
        #cloud-config
        package_upgrade: false

  server-script:
    type: OS::Heat::SoftwareConfig
    properties:
      outputs:
      - name: packages_total
      group: script
      config: |
        #!/bin/bash

        sudo pip install tornado==4.5.3
        sudo pip install salt==2018.3.4
        sudo salt-call --local --out key pkg.list_upgrades | echo $((`wc -l` - 1)) > $heat_outputs_path.packages_total

        echo "Total packages upgrade needed: $packages_total"

  server-deployment:
    type: OS::Heat::SoftwareDeployment
    properties:
      actions: ['CREATE']
      signal_transport: HEAT_SIGNAL
      config:
        get_resource: server-script
      server:
        get_resource: server

outputs:
  packages_total:
    description: Number of packages which need to be upgraded.
    value:
      get_attr: [server-deployment, packages_total]