heat_template_version: 2017-02-24

parameters:
  image:
    type: string
    default: {{image}}
  flavor:
    type: string
    default: {{flavor}}


resources:
  server:
    type: OS::Nova::Server
    properties:
      image: {get_param: image}
      flavor: {get_param: flavor}
      networks:
      - network: public
      block_device_mapping:
      {% for volume_type in volume_type_list %}
- volume_id: {get_resource: volume-{{loop.index}}-{{volume_type.name}}}
        delete_on_termination: true
        device_name: volume_{{loop.index}}_{{volume_type.name}}
      {% endfor %}
user_data_format: SOFTWARE_CONFIG
      user_data: |
        #cloud-config
        package_upgrade: false
        packages:
        - bonnie++

  server-script:
    type: OS::Heat::SoftwareConfig
    properties:
      outputs:
      {% for volume_type in volume_type_list %}
- name: read_speed_{{loop.index}}_{{volume_type.name}}
      - name: write_speed_{{loop.index}}_{{volume_type.name}}
      {% endfor %}
- name: read_speed_system
      - name: write_speed_system
      group: script
      config:
        str_replace:
          template: |
            #!/bin/bash

            {% for volume_type in volume_type_list %}
voldata_id="%volume_{{loop.index}}_{{volume_type.name}}_id%"
            voldata_dev="$(echo ${voldata_id} | cut -c -20)"

            volume=/dev/disk/by-id/`ls -1 /dev/disk/by-id/ | grep ${voldata_dev}`
            unset RESULT
            RESULT=`sudo blkid $volume`
            if [ -z "${RESULT}" ]; then
                    sudo mkfs.ext4 $volume
            fi

            sudo mkdir -p /mnt/vol_{{loop.index}}_{{volume_type.name}}
            sudo mount -t ext4 $volume /mnt/vol_{{loop.index}}_{{volume_type.name}}
            sudo bonnie++ -d /mnt/vol_{{loop.index}}_{{volume_type.name}} -u root -q > speed_test
            awk -F ',' '{print $10}' speed_test > $heat_outputs_path.read_speed_{{loop.index}}_{{volume_type.name}}
            awk -F ',' '{print $16}' speed_test > $heat_outputs_path.write_speed_{{loop.index}}_{{volume_type.name}}

            {% endfor %}

            sudo bonnie++ -d /etc -u root -q > speed_test
            awk -F ',' '{print $10}' speed_test > $heat_outputs_path.read_speed_system
            awk -F ',' '{print $16}' speed_test > $heat_outputs_path.write_speed_system

          params:
            {% for volume_type in volume_type_list %}
"%volume_{{loop.index}}_{{volume_type.name}}_id%": {get_resource: volume-{{loop.index}}-{{volume_type.name}}}
            {% endfor %}

  server-deployment:
    type: OS::Heat::SoftwareDeployment
    properties:
      actions: ['CREATE']
      signal_transport: HEAT_SIGNAL
      config:
        get_resource: server-script
      server:
        get_resource: server

  {% for volume_type in volume_type_list %}
volume-{{loop.index}}-{{volume_type.name}}:
    type: OS::Cinder::Volume
    properties:
      size: 10
      volume_type: {{volume_type.name}}

  {% endfor %}

outputs:
  volume_type_write@System:
    description: Write speed of volume type system
    value:
      get_attr: [server-deployment, write_speed_system]
  volume_type_read@System:
    description: Read speed of volume type system
    value:
      get_attr: [server-deployment, read_speed_system]
  {% for volume_type in volume_type_list %}
volume_type_write@{{volume_type.name}}:
    description: Write speed of volume type {{volume_type.name}}
    value:
      get_attr: [server-deployment, write_speed_{{loop.index}}_{{volume_type.name}}]
  volume_type_read@{{volume_type.name}}:
    description: Read speed of volume type {{volume_type.name}}
    value:
      get_attr: [server-deployment, read_speed_{{loop.index}}_{{volume_type.name}}]
  {% endfor %}